/* global.css */

body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  background-image: url('../assets/Lauryn-logo-image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body:before {
  content: "";
  position: fixed; /* Ensures overlay stays in place on scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* White overlay with 80% transparency */
  z-index: -1; /* Places overlay behind all content */
}

/* Text Colors */
h1, h2, h3 {
  color: #8B0000; /* Raspberry color */
}

/* Logo Styling */
.logo {
  width: 100px;
}

/* Content Positioning */
.content {
  position: relative;
  z-index: 1;
}

/* Responsive Design */
@media (max-width: 600px) {
  .header h1 {
    font-size: 1.5rem;
  }
  .navbar {
    flex-direction: column;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .header h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1201px) {
  .header h1 {
    font-size: 2.5rem;
  }
}
